attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
coverage==5.5
-e git+https://github.com/vrudas/djmag-top100-scraper.git@3ef084f96f80f4297df3a69f9f1a91013887c52c#egg=djmag_top100_scraper
flake8==3.8.4
idna==2.10
iniconfig==1.1.1
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.2.2
requests==2.25.1
soupsieve==2.2
toml==0.10.2
urllib3==1.26.2
